<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/wikimedia.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>Línea de Tiempo - Falsos Positivos en Colombia (2002-2008)</title>
		<meta name="title" content="Línea de Tiempo - Falsos Positivos en Colombia (2002-2008)" />
		<meta name="description" content="Explora la línea de tiempo interactiva que documenta los casos de falsos positivos en Colombia durante los años 2002-2008. Un proyecto de memoria histórica." />


		
		

</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
